* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Arial";
}
.log {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 200px;
  padding: 1em;
}
form h2 {
  margin-bottom: 1em;
  color: #333;
}
form input {
  width: 100%;
  border: solid 1px #eee;
  border-radius: 4px;
  padding: .7em .5em;
  margin-bottom: 1em;
}
form button {
  width: 100%;
  padding: .7em 1em;
  border: none;
  background: #f84;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
}